<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Knjizara</title>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>

@*<partial name="_LoginPartial" />*@

    <img src="/images/BookMarkSimplified.png" id="logoMenu" alt="">
    
    <ul id="menu" class="width100vw">
        <li class="item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="item"><a asp-area="" asp-controller="Shop" asp-action="Index">Shop</a></li>
        <li class="item"><a asp-area="" asp-controller="Authors" asp-action="Index">Authors</a></li>
        <li class="item"><a asp-area="" asp-controller="Books" asp-action="Index">Books</a></li>
    </ul>

    <div id="hamburger" class="positionFixed" >

        <div id="barCont" >

            <span class="bar displayBlock"></span>
            <span class="bar displayBlock"></span>
            <span class="bar displayBlock"></span>

        </div >

    </div >

    <div id="auth">

                           <partial name="_LoginPartial" />

        
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer id="footer" class="width100vw">&copy; 2022 - BookMark - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></footer>
*@
@*    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)*@


<script>
    const hamburger = document.getElementById("hamburger");
    const bars = document.querySelectorAll(".bar");

    hamburger.addEventListener("click", () => {

        menu.classList.toggle("active");

        bars.forEach(bar => {
          bar.classList.toggle("active");
        });

    });

</script>

</body>
</html>
