<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Knjizara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Knjizara.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>

    <header>

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/images/BookMarkSimplified.png" id="logoMenu" alt="">
        </a>

@*        <button type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@

    <ul id="menu" class="width100vw">

        <li class="item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        <li class="item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
        </li>

        @if (this.User.IsInRole("Admin"))
        {
            <li class="item">
                <a asp-area="" asp-controller="Books" asp-action="Index">Knjige</a>
            </li>

            <li class="item">
                <a asp-area="" asp-controller="Authors" asp-action="Index">Autori</a>
            </li>

            <li class="item">
                <a asp-area="" asp-controller="AppUsers" asp-action="Index">Korisnici</a>
            </li>
            <li class="item">
                <a asp-area="" asp-controller="AppRoles" asp-action="UsersRolesEdit">Admins</a>
            </li>
        }

    </ul>
           
    <partial name="_LoginPartial" />

    <div id="hamburger" class="positionFixed" >

        <div id="barCont" >

            <span class="bar displayBlock"></span>
            <span class="bar displayBlock"></span>
            <span class="bar displayBlock"></span>

        </div>

    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Knjizara - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script>

        const hamburger = document.getElementById("hamburger");
        const bars = document.querySelectorAll(".bar");

        hamburger.addEventListener("click", () => {

            menu.classList.toggle("active");

            bars.forEach(bar => {
              bar.classList.toggle("active");
            });

        });

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
