@model Knjizara.Models.ViewModels.BookBorrowVM

@{
    ViewData["Title"] = "Borrow";
}

<h1>Delete</h1>

<h3>Are you sure you want to borrow this book?</h3>
<style>

	h3 {
		margin: 4rem;
		text-align: center;
	}

	#form {

		font-size: 2rem;
		width: 50vw;
		display:block;
		margin: 3rem auto;
		text-align: center;
	}

</style>

<h3>Are you sure you want to buy this?</h3>

    
    <form asp-action="Borrow">
        <input type="hidden" asp-for="Book.Id" />
       <label for="Weeks">How many weeks do you want to borrow the book:</label>
       <select asp-for="WeeksToBorrow" name="Weeks">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br />
        <input type="submit" value="Borrow" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>

