@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>

    .row {
        margin-top: 10vh;
        text-align: center;
    }

    form div {
        margin: 1rem;
    }

</style>

<div class="row">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly"></div>
                    
            <div>
                <label asp-for="Input.FirstName"></label>  <br />
                <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" />
                <span asp-validation-for="Input.FirstName" ></span>
            </div>

             <div>
                <label asp-for="Input.LastName"></label>  <br />
                <input asp-for="Input.LastName"  autocomplete="lastname" aria-required="true" />
                <span asp-validation-for="Input.LastName" ></span>
            </div>

              <div class="form-floating">
                <label asp-for="Input.Address"></label> <br />
                <input asp-for="Input.Address" autocomplete="address" aria-required="true" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <label asp-for="Input.Email"></label> <br />
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password"></label> <br />
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"></label> <br />
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button id="registerSubmit" type="submit">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
