    .book {
        margin: auto;
        /*RATIO: 8 : 11*/
        width: 190px;
        height: 261.25px;
        max-width: 1170px;
        text-align: center;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .book ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .reverse {
        -webkit-transform: rotateY(180deg);
        unicode-bidi: bidi-override;
        direction: rtl;
    }

    .buyBorrow {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 75%;
        display: block;
        margin-top: 3rem;
        border: 2px solid var(--backgroundColor);
        border-radius: 0.2rem;
        font-size: 2rem;
        text-align: center;
        transition: border-color 0.3s;
    }

    .btn:hover {
        border-color: var(--brown);
    }

    .bookInfo {
        width: 100%;
        text-align: center;
    }

    .bookInfo h1 {
        margin-top: 1rem;
        padding-left: 0.2rem;
        font-size: 0.8rem;
        text-align: left;
    }

    .hardcoverFront li:first-child {
        background-color: #d7cbc5;
        backface-visibility: hidden;
    }

    .hardcoverFront li:last-child {
        background-color: #d7cbc5;
    }

    .hardcoverBack li:first-child {
        background-color: #d7cbc5;
    }

    .hardcoverBack li:last-child {
        background-color: #d7cbc5;
    }

    .book_spine li:first-child {
        background-color: var(--brown);
    }

    .book_spine li:last-child {
        background-color: var(--brown);
    }

        .hardcoverFront li:first-child:after,
        .hardcoverFront li:first-child:before,
        .hardcoverFront li:last-child:after,
        .hardcoverFront li:last-child:before,
        .hardcoverBack li:first-child:after,
        .hardcoverBack li:first-child:before,
        .hardcoverBack li:last-child:after,
        .hardcoverBack li:last-child:before,
        .book_spine li:first-child:after,
        .book_spine li:first-child:before,
        .book_spine li:last-child:after,
        .book_spine li:last-child:before {
            background-color: var(--brown);
        }

    .page > li {
        background: -webkit-linear-gradient(left, #e1ddd8, #fffbf6);
        box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .hardcoverFront {
        transform: rotateY(-32deg) translateZ(8px);
        z-index: 100;
    }

    .hardcoverBack {
        transform: rotateY(-15deg) translateZ(-8px);
    }

    .page > li:nth-child(1) {
        transform: rotateY(-28deg);
    }

    .page > li:nth-child(2) {
        transform: rotateY(-30deg);
    }

    .page > li:nth-child(3) {
        transform: rotateY(-32deg);
    }

    .page > li:nth-child(4) {
        transform: rotateY(-34deg);
    }

    .page > li:nth-child(5) {
        transform: rotateY(-36deg);
    }

    .hardcoverFront,
    .hardcoverBack,
    .book_spine,
    .hardcoverFront li,
    .hardcoverBack li,
    .book_spine li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
    }

    .hardcoverFront,
    .hardcoverBack {
        transform-origin: 0% 100%;
    }

    .hardcoverFront {
        transition: all 0.8s ease, z-index 0.6s;
    }

    .hardcoverFront li:first-child {
        cursor: default;
        user-select: none;
        transform: translateZ(2px);
    }

    .hardcoverFront li:last-child {
        transform: rotateY(180deg) translateZ(2px);
    }

    .hardcoverBack li:first-child {
        transform: translateZ(2px);
    }

    .hardcoverBack li:last-child {
        transform: translateZ(-2px);
    }

    .hardcoverFront li:first-child:after,
    .hardcoverFront li:first-child:before,
    .hardcoverFront li:last-child:after,
    .hardcoverFront li:last-child:before,
    .hardcoverBack li:first-child:after,
    .hardcoverBack li:first-child:before,
    .hardcoverBack li:last-child:after,
    .hardcoverBack li:last-child:before,
    .book_spine li:first-child:after,
    .book_spine li:first-child:before,
    .book_spine li:last-child:after,
    .book_spine li:last-child:before {
        position: absolute;
        top: 0;
        left: 0;
    }

    .hardcoverFront li:first-child:after,
    .hardcoverFront li:first-child:before {
        width: 4px;
        height: 100%;
    }

    .hardcoverFront li:first-child:after {
        transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    }

    .hardcoverFront li:first-child:before {
        transform: rotateY(90deg) translateZ(158px) translateX(2px);
    }

    .hardcoverFront li:last-child:after,
    .hardcoverFront li:last-child:before {
        width: 4px;
        height: 160px;
    }

    .hardcoverFront li:last-child:after {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    }

    .hardcoverFront li:last-child:before {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
        box-shadow: 0px 0px 30px 5px #333;
    }

    .hardcoverBack li:first-child:after,
    .hardcoverBack li:first-child:before {
        width: 4px;
        height: 100%;
    }

    .hardcoverBack li:first-child:after {
        transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    }

    .hardcoverBack li:first-child:before {
        transform: rotateY(90deg) translateZ(158px) translateX(2px);
    }

    .hardcoverBack li:last-child:after,
    .hardcoverBack li:last-child:before {
        width: 4px;
        height: 160px;
    }

    .hardcoverBack li:last-child:after {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    }

    .hardcoverBack li:last-child:before {
        box-shadow: 10px -1px 80px 20px #666;
        transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    }

    .book_spine {
        transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
        width: 16px;
        z-index: 0;
    }

    .book_spine li:first-child {
        transform: translateZ(2px);
    }

    .book_spine li:last-child {
        transform: translateZ(-2px);
    }

    .book_spine li:first-child:after {
        transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    }

    .book_spine li:first-child:before {
        transform: rotateY(-90deg) translateZ(-12px);
    }

    .book_spine li:last-child:after {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    }

    .book_spine li:last-child:before {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
        box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    }

    .page,
    .page > li {
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
    }

    .page {
        width: 100%;
        height: 95%;
        top: 3%;
        left: 3%;
        z-index: 10;
    }

    .page li {
        width: 100%;
        height: 100%;
        transform-origin: left center;
        transition-property: transform;
        transition-timing-function: ease;
    }

    .page li:nth-child(1) {
        transition-duration: 0.6s;
    }

    .page li:nth-child(2) {
        transition-duration: 0.6s;
    }

    .page li:nth-child(3) {
        transition-duration: 0.4s;
    }

    .page li:nth-child(4) {
        transition-duration: 0.5s;
    }

    .page li:nth-child(5) {
        transition-duration: 0.6s;
    }

    .book:hover > .hardcoverFront {
        transform: rotateY(-137deg) translateZ(0);
        z-index: 0;
    }

    .book:hover > .page li:nth-child(1) {
        transform: rotateY(-33deg);
        transition-duration: 1.5s;
    }

    .book:hover > .page li:nth-child(2) {
        transform: rotateY(-35deg);
        transition-duration: 1.8s;
    }

    .book:hover > .page li:nth-child(3) {
        transform: rotateY(-125deg);
        transition-duration: 1.6s;
    }

    .book:hover > .page li:nth-child(4) {
        transform: rotateY(-130deg);
        transition-duration: 1.4s;
    }

    .book:hover > .page li:nth-child(5) {
        transform: rotateY(-140deg);
        transition-duration: 1.2s;
    }

    .bookCoverImg {
        width: 100%;
        height: 100%;
    }
